input[type="text"] {
	width: 100%;
	outline: none;
    border: none;
    background: transparent;
    border-radius: 0;
}


.transactionForm {
	padding: 0;
}

.transactionForm-types {
	background-color: #fff;
	display: flex;
	flex-basis: 50%;
}

.transactionForm-tab {
	text-align: center;
	position: relative;
	flex-basis: 50%;
}

.transactionForm-tab input[type="radio"] {
	position: absolute;
	left: -1000px;
	top: 0;
}
.transactionForm-tab input[type="radio"]:checked + .tab-button--expenses {
	background-color: #fa4d54;
	color: #fff;
}
.transactionForm-tab input[type="radio"]:checked + .tab-button--income {
	background-color: #1bc447;
	color: #fff;
}

.transactionForm-tab .tab-button {
	display: block;
	padding: 1em;
	font-weight: bold;
}

.transactionForm-amount {
	position: relative;
	padding: 1em;
}
.transactionForm-amount input {
	display: block;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	text-align: right;
	padding: 0.3em 0.8em;
	border: none;
	font-size: 2.25em;
	width: 100%;
}
.transactionForm-amount--expenses {
	background-color: #fa4d54;
}
.transactionForm-amount--income {
	background-color: #1bc447;
}
.transactionForm-amount--expenses input {
	color: #dc3f45;
}
.transactionForm-amount--income input {
	color: #17a83d;
}

.transactionForm-currency {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	font-size: 1.25em;
	color: rgba(0,0,0,0.5);
}


.transactionForm-section {
    padding: 1em;
}
.transactionForm-section--white {
    background-color: #fff;
}

.transactionForm-date input,
.transactionForm-description input {
    border-bottom: 1px solid #e1e3ee;
    padding: 0.5em 0;
}


.transactionForm-categories {
    padding-bottom: 0.7em;
}
.transactionForm-selectArea {
    margin: 0 -0.25em;
}
.transactionForm-catSelection .catSelection-label {
    display: inline-block;
    background-color: #e1e3ee;
    color: #54493d;
    border-radius: 3px;
    line-height: 2em;
    padding: 0 0.75em;
    margin: 0 0.25em 0.5em;
    font-size: 0.875em;
}

.transactionForm-catSelection input[type="radio"] {
    position: absolute;
    left: -1000px;
    top: 0;
}
.transactionForm-catSelection input[type="radio"]:checked + .catSelection-label {
    background-color: #8288f9;
    color: #FFF;
}


.transactionForm-label {
    margin-bottom: 0.75em;
    font-size: 0.875em;
    color: #5a5973;
}

.transactionForm .btn {
    width: 100%;
}