input[type="text"] {
	width: 100%;
	outline: none;
}


.transactionForm {
	padding: 0;
	background: #e1e3ee;
}

.transactionForm-types {
	background-color: #fff;
	display: flex;
	flex-basis: 50%;
}

.transactionForm-tab {
	text-align: center;
	position: relative;
	flex-basis: 50%;
}

.transactionForm-tab input[type="radio"] {
	position: absolute;
	left: -1000px;
	top: 0;
}
.transactionForm-tab input[type="radio"]:checked + .tab-button--expenses {
	background-color: #fa4d54;
	color: #fff;
}
.transactionForm-tab input[type="radio"]:checked + .tab-button--income {
	background-color: #1bc447;
	color: #fff;
}

.transactionForm-tab .tab-button {
	display: block;
	padding: 1em;
	font-weight: bold;
}

.transactionForm-amount {
	position: relative;
	padding: 1em;
}
.transactionForm-amount input {
	display: block;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	text-align: right;
	padding: 0.3em 0.8em;
	border: none;
	font-size: 2.5em;
	width: 100%;
}
.transactionForm-amount--expenses {
	background-color: #fa4d54;
}
.transactionForm-amount--income {
	background-color: #1bc447;
}
.transactionForm-amount--expenses input {
	color: #dc3f45;
}
.transactionForm-amount--income input {
	color: #17a83d;
}

.transactionForm-currency {
	position: absolute;
	top: 1.7em;
	right: 1.5em;
	font-size: 1.25em;
	color: #888;
}