.transaction {
	border-bottom: 1px solid #eee;
	padding: 1em;
}

.transaction--income .transaction-amount {
    color: #28c356;
}

.transaction--expenses .transaction-amount:before {
    content: '–';
}

.transaction-amount {
	float: right;
	font-size: 1.25em;
	color: #ff6b62;
}

.transaction-category {
	font-weight: bold;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

.transaction-description {
	font-size: 0.875em;
	color: #777;
}

.transaction-info {
	font-size: 0.75em;
	padding-top: 0.5em;
}

.transaction-date {
	display: inline-block;
	color: #9f9394;
	margin-top: 0.375em;
}

.transaction-buttons {
	float: right;
}
.transaction-buttons .btn {
	margin-left: 0.25em;
}


.transaction-filter {
    display: flex;
}
.transaction-filter .btn {
    flex-basis: 33.33%;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    border-radius: 0;
    color: #6d6ff9;
    line-height: 3em;
    height: 3em;
}
.transaction-filter .btn.is-active {
    border-color: #6d6ff9;
}